.requestList {
    border-collapse: collapse;
    width: 50%;
}
th{
    background-color: #818181;
    color: white;
}
th, td {
    padding: 8px;
    text-align: left;
/* border-bottom: 1px solid #ddd; */
}
tr:hover {
    transition-duration: 0.4s;
    background-color: #062e94;
    color: white;
}
* {
    box-sizing: border-box;
}

.row {
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

#requestOpen table{border:ridge 3px grey; border-collapse: collapse;  }
#requestOpen table td       {border:inset 1px black;}

#listRequests table{border:ridge 3px grey; border-collapse: collapse;  }
#listRequests table td       {border:inset 1px black;}

table tr#ROW0  {background-color:white; color:black; width:50%;}
table tr#ROWcontInfo  {background-color:lightgray; color:black; width:100%;}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;

}

#requestOpen{
    transition-duration: 0.4s;
    width: 0%;
    float: left;
    /* display: none; */
    background-color: white;
}

#listRequests{
    transition-duration: 0.4s;
    float: right;
    width: 100%;
    border-collapse: collapse;
    padding-left: 20px;
}

.main #requestOpen tr{
    pointer-events: none;
}
